{{> header}}

<form method="post" action="/deletePlayer">
Id: <input type="text" name="id"></br>
<input type="submit" value="Delete player">
{{{token}}}
</form>
{{#message}}
 Player is successfully deleted.
{{/message}}

{{> footer}}