<html>
<head>
<title>Abaleague players</title>
<link rel="stylesheet" type="text/css" href="../css/design.css" />
</head>
<body>
<div id="wrapper">
<div id="header">
<h1 class="whiteFont">Abaleague players</h1>
<img src="../css/grb.jpg" alt="Homepage picture" style="width:422px;height:103px;float:right;">
</div>
<br>
<ul>
<li><a class="whiteFont" href="/">Homepage</a></li>
<li><a class="whiteFont" href="/search">Search players</a></li>
<li><a class="whiteFont" href="/insert">Insert player</a></li>
<li><a class="whiteFont" href="/update">Update player</a></li>
<li><a class="whiteFont" href="/delete">Delete player</a></li>
</ul>
<div id="content">